// Widths
$mobile-sm: 479px;
$mobile: 575px;
$mobile-big: 767px;
$tablet: 991px;
$desktop: 1199px;

// Fonts
$default-font: 'Montserrat',
sans-serif; //300/500/600/800/900

// Colors
$text-color: #FFFFFF;
$text-color2: #8184A2;
$color-accent: #009DFF;
$color-adc: #4A4568;
$color-big-block: rgba(255, 255, 255, 0.04);
$color-click-block: rgba(255, 255, 255, 0.06);
$text-white1: #131225;

$color-error: red;