script(src="js/libs.min.js")
script(src="smmodal/smmodalJq.min.js")
<script src="https://api-maps.yandex.ru/2.1/?apikey=be912340-526b-4278-990f-3e3aebfcc40e&lang=ru_RU" type="text/javascript">
</script>
script(src="js/scripts.min.js")
script(src="js/pages-switcher.js")
