.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm-modal-contant {
    border: 1px solid red;
    padding: 50px;
    max-width: 100%;
    p, h1 {
        color: black;
    }
}