button.your-button(data-smbtn="your-selector") открыть модалку
button.your-button2 открыть модалку2
button.your-button3 открыть модалку2


.sm-modal#your-selector
    .sm-modal-body
        .sm-modal-wrap
            .sm-modal-overlay
            .sm-modal-contant
                .modal-close
                p asdasdasdasd

.container
    .sm-modal.sm-adaptive#your-selector2
        .sm-modal-body
            .sm-modal-wrap
                .sm-modal-overlay
                .sm-modal-contant
                    .modal-close
                    .modal-content
                        h1 Адаптивное модальное окно
                        p скроется при 768px

.container
    .sm-modal.sm-adaptive#your-selector3
        .sm-modal-body
            .sm-modal-wrap
                .sm-modal-overlay
                .sm-modal-contant
                    .modal-close
                    .modal-content
                        h1 Адаптивное модальное окно
                        p скроется при 1024px
        
        